# Python
.venv/
__pycache__/
*.pyc

# Node / React
frontend/node_modules/
frontend/dist/

# VSCode / IDE
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db


data/*.csv
app/ml/artifacts/*.joblib
backend/data/*.csv
backend/app/ml/artifacts/*.joblib
