version: "3.8"

services:

  backend:
    build: ./backend
    container_name: ticketbrain_backend
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    container_name: ticketbrain_frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
